<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Developers Forge for Open Source Ada Code and Tools - Libraries &amp; Bindings</string>
				<key>CreatedDate</key>
				<date>2015-11-04T16:19:17Z</date>
				<key>CustomThemeName</key>
				<string>Endeavor2</string>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Libraries</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://sftp.sd5.gpaas.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-07T11:01:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/imagemapper-assets/test.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MdTs2NHOSrzF
								fJFfVGF+6g==
								</data>
								<key>Size</key>
								<integer>28904</integer>
							</dict>
							<key>files/stacks-image-56771d5.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rTMEhGfHg01E
								yEBGH/WzTA==
								</data>
								<key>Size</key>
								<integer>267</integer>
							</dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								o0yRS6brsApS
								w9tqguGJpg==
								</data>
								<key>Size</key>
								<integer>3016</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ojem6QdvZfE2
								fVBBityWMA==
								</data>
								<key>Size</key>
								<integer>20403</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fG2pMWsZggBZ
								oCrbMjrRtw==
								</data>
								<key>Size</key>
								<integer>17536</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>Libraries</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
