<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Developers Forge for Open Source Ada Code and Tools - Compilers</string>
				<key>CreatedDate</key>
				<date>2015-11-05T09:21:39Z</date>
				<key>CustomThemeName</key>
				<string>Endeavor2</string>
				<key>ID</key>
				<string>page12</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Compilers</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.2.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://sftp.sd5.gpaas.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-07T11:01:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-3389b4c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								SWB3y+AWl9eI
								ptzurBDHfA==
								</data>
								<key>Size</key>
								<integer>9252</integer>
							</dict>
							<key>files/stacks-image-70a9ae4.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gw02OHkmh8Gn
								wMEeFNx/eg==
								</data>
								<key>Size</key>
								<integer>7882</integer>
							</dict>
							<key>files/stacks-image-b94ad5d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								H9Y6Vdg5eVVk
								8PCDBdaRZw==
								</data>
								<key>Size</key>
								<integer>5239</integer>
							</dict>
							<key>files/stacks_page_page12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9KgpXiSsfQt0
								Injm1AyISw==
								</data>
								<key>Size</key>
								<integer>2756</integer>
							</dict>
							<key>files/stacks_page_page12.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								89QlEPa5peiR
								4+IxuxQ7rg==
								</data>
								<key>Size</key>
								<integer>19537</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page12</string>
						<key>SiteRoot</key>
						<string>DevTools/DevToolsBuild/Compilers</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
