<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Programmer's Forge for Open Source Ada Code and Tools - News</string>
				<key>CreatedDate</key>
				<date>2015-11-05T06:50:08Z</date>
				<key>CustomThemeName</key>
				<string>Endeavor2</string>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>sftp://sftp.sd5.gpaas.net</key>
					<dict>
						<key>CreationDate</key>
						<date>2022-05-12T06:58:03Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/000e18e216f8213c9251df498cc74bdd-57.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Bocs4Sm6COeT
								kzU6vCKYUQ==
								</data>
								<key>Size</key>
								<integer>14378</integer>
							</dict>
							<key>files/050563826252ae469020fe1edba30efd-39.php</key>
							<dict>
								<key>Digest</key>
								<data>
								eIZHsrzGEYlt
								ifBFa/peKg==
								</data>
								<key>Size</key>
								<integer>15271</integer>
							</dict>
							<key>files/092f01104d568e4f2d07a4a257c30da8-35.php</key>
							<dict>
								<key>Digest</key>
								<data>
								4dsv7jSL7dLH
								hUe1MKUs4A==
								</data>
								<key>Size</key>
								<integer>15110</integer>
							</dict>
							<key>files/093cb7a0e9070ce8394ae8f738a85344-12.php</key>
							<dict>
								<key>Digest</key>
								<data>
								zQd6r4wVJd+F
								QOf6EeBtng==
								</data>
								<key>Size</key>
								<integer>15194</integer>
							</dict>
							<key>files/0b5415722f88dede9b122c15edb57991-4.php</key>
							<dict>
								<key>Digest</key>
								<data>
								kurlseNTEE/V
								ZrvLDOJ+1Q==
								</data>
								<key>Size</key>
								<integer>14119</integer>
							</dict>
							<key>files/0e4c46953c19379062172e129efd8416-58.php</key>
							<dict>
								<key>Digest</key>
								<data>
								JwxGxg3ub/hT
								/YNJRH6bGA==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>files/0e80218abc8bd07063c5bddd55e39256-55.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ic3L3HfqbleS
								VEbmPV/VWA==
								</data>
								<key>Size</key>
								<integer>16128</integer>
							</dict>
							<key>files/1157ac5b7ede45c75ed9e24f8b7608b8-11.php</key>
							<dict>
								<key>Digest</key>
								<data>
								gdV8E7/r2ahC
								CaKdRp1V0A==
								</data>
								<key>Size</key>
								<integer>15503</integer>
							</dict>
							<key>files/14a04055e0ab5c726e891fa4d3fe4081-5.php</key>
							<dict>
								<key>Digest</key>
								<data>
								owsYs5QozdZz
								0RhbvGXWKg==
								</data>
								<key>Size</key>
								<integer>15070</integer>
							</dict>
							<key>files/14cbdcc085e5dc7f925e409a9b44e910-36.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ABG8r1pgZmya
								zx/8ddGaUA==
								</data>
								<key>Size</key>
								<integer>15045</integer>
							</dict>
							<key>files/171d4757c87574134da36d19af123053-24.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Zf+o6YmnlODR
								e/hQN6uCbQ==
								</data>
								<key>Size</key>
								<integer>15203</integer>
							</dict>
							<key>files/19636a78cb88779bffcfb56ae80ba7de-40.php</key>
							<dict>
								<key>Digest</key>
								<data>
								pnH3buHY5JJc
								B4A9XqnsDg==
								</data>
								<key>Size</key>
								<integer>15515</integer>
							</dict>
							<key>files/1c5ebc6807388bb9f7cff99397968dbd-76.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6MDbx2oIHB6i
								CqOiTF+8gg==
								</data>
								<key>Size</key>
								<integer>15338</integer>
							</dict>
							<key>files/21869e3c24bf8b699ed708a59f4ea719-31.php</key>
							<dict>
								<key>Digest</key>
								<data>
								nUHn/I1S/pYB
								Nywu+0Z9/A==
								</data>
								<key>Size</key>
								<integer>15606</integer>
							</dict>
							<key>files/24b816fa2b7025a7192910a635992334-69.php</key>
							<dict>
								<key>Digest</key>
								<data>
								FS7SZWJIhU4U
								8dJ8bNSbpQ==
								</data>
								<key>Size</key>
								<integer>16307</integer>
							</dict>
							<key>files/2847bb9ddc6e41cea218b16362069009-73.php</key>
							<dict>
								<key>Digest</key>
								<data>
								NtETUSijycRI
								v3IFg+59/A==
								</data>
								<key>Size</key>
								<integer>16902</integer>
							</dict>
							<key>files/29d84545ce729f4cfc6916a0e0411242-8.php</key>
							<dict>
								<key>Digest</key>
								<data>
								gGfOCnE+Jo7J
								oNMhaCvb3Q==
								</data>
								<key>Size</key>
								<integer>14558</integer>
							</dict>
							<key>files/2a3883c2faf8ba39f35b95261fd71947-49.php</key>
							<dict>
								<key>Digest</key>
								<data>
								cySIxwmRHDJ+
								tu53w4cbMg==
								</data>
								<key>Size</key>
								<integer>14585</integer>
							</dict>
							<key>files/2a4707c79cc8b4d023f1bf15b884689a-42.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Gvc4jyUHQR5S
								6sMqgFQQBg==
								</data>
								<key>Size</key>
								<integer>15338</integer>
							</dict>
							<key>files/3268b0cc9203a02f37a4a0c879f61182-52.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ayYo8sODkNRf
								+AQ1xpuftQ==
								</data>
								<key>Size</key>
								<integer>14305</integer>
							</dict>
							<key>files/375eef2f7cb297bece84c6a0ea0a649d-2.php</key>
							<dict>
								<key>Digest</key>
								<data>
								mhtFRZYkBRG9
								O95WT6gmnw==
								</data>
								<key>Size</key>
								<integer>14121</integer>
							</dict>
							<key>files/38d0ac3ffb5d34a9c72ceb1882860af0-30.php</key>
							<dict>
								<key>Digest</key>
								<data>
								n4TvcpJiMoLf
								X9g9qoJnyg==
								</data>
								<key>Size</key>
								<integer>15247</integer>
							</dict>
							<key>files/3a3ae15323e942de7f755e75780e6ef9-18.php</key>
							<dict>
								<key>Digest</key>
								<data>
								OXFnISdVK6Uz
								VY9pQ7QPiA==
								</data>
								<key>Size</key>
								<integer>14650</integer>
							</dict>
							<key>files/3ba0e7b4c426f84dc862aa569e02e32c-3.php</key>
							<dict>
								<key>Digest</key>
								<data>
								iPR6qqwYJ3XD
								wJJUQBabgQ==
								</data>
								<key>Size</key>
								<integer>13911</integer>
							</dict>
							<key>files/3fa1b7abc77cbf5b347f1bf3e4b8b956-44.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Ga7p+55ZRgwc
								ragAHyCbHQ==
								</data>
								<key>Size</key>
								<integer>15953</integer>
							</dict>
							<key>files/3fe9b600b2b7c8081ea709cade41d1f1-43.php</key>
							<dict>
								<key>Digest</key>
								<data>
								2pZ0bZfcGR3z
								040Q6HX+Ig==
								</data>
								<key>Size</key>
								<integer>14856</integer>
							</dict>
							<key>files/41ab411ee45f251949716e78f04b58e6-28.php</key>
							<dict>
								<key>Digest</key>
								<data>
								VR/p9rpgBear
								0JnNIH5SbQ==
								</data>
								<key>Size</key>
								<integer>14707</integer>
							</dict>
							<key>files/49952cb7ea77feb331c68b9ddf4ef581-45.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6FlRC9jAyT4a
								KM17RXmrhQ==
								</data>
								<key>Size</key>
								<integer>14337</integer>
							</dict>
							<key>files/4cedce6e4fc4af64dcf02a55fd8f30c7-48.php</key>
							<dict>
								<key>Digest</key>
								<data>
								gnywMS/49rum
								UtTo14k7Rw==
								</data>
								<key>Size</key>
								<integer>14632</integer>
							</dict>
							<key>files/4ed90bba4e1688deb9ebf849881936d0-65.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Ftz3YzyeMOzL
								1MsCmd63kA==
								</data>
								<key>Size</key>
								<integer>15023</integer>
							</dict>
							<key>files/5009bd9639cfa7641c70c234e01fbd96-25.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Fa9rMiZT0kS4
								rW0xfcDlBQ==
								</data>
								<key>Size</key>
								<integer>14637</integer>
							</dict>
							<key>files/5cab0e8ecf5cfecaf9f08c3e57580edb-56.php</key>
							<dict>
								<key>Digest</key>
								<data>
								dRm24Wa5wjH5
								e6X+3eFZQA==
								</data>
								<key>Size</key>
								<integer>14764</integer>
							</dict>
							<key>files/5f7fe5c25ae16f0f5f9013d903605262-72.php</key>
							<dict>
								<key>Digest</key>
								<data>
								jkAnML0U01KE
								GYN1EkXMLg==
								</data>
								<key>Size</key>
								<integer>15060</integer>
							</dict>
							<key>files/606f2c0aadf7b34fb41e630e74242e2a-71.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Hh6kznbDTH5o
								ZQ+85f+S4w==
								</data>
								<key>Size</key>
								<integer>14075</integer>
							</dict>
							<key>files/61190a96227476afe57e73c7cbecfc75-60.php</key>
							<dict>
								<key>Digest</key>
								<data>
								3K295Ze9TlE8
								ud1gvw04cQ==
								</data>
								<key>Size</key>
								<integer>16212</integer>
							</dict>
							<key>files/664fdc73303e4ac66bbd19ca31bafc8d-33.php</key>
							<dict>
								<key>Digest</key>
								<data>
								hylK7q5wyaww
								CEJppgzFvA==
								</data>
								<key>Size</key>
								<integer>14878</integer>
							</dict>
							<key>files/68aa6fddb835802220ba9787c9057eee-74.php</key>
							<dict>
								<key>Digest</key>
								<data>
								s90UppsMBT3C
								xHiMyzTsYA==
								</data>
								<key>Size</key>
								<integer>16587</integer>
							</dict>
							<key>files/6be717a919d71282b82c5658d55100ef-17.php</key>
							<dict>
								<key>Digest</key>
								<data>
								z6BK6O4TvS6J
								pNhs9J6YNA==
								</data>
								<key>Size</key>
								<integer>14971</integer>
							</dict>
							<key>files/6ea470c775774350d81dfaa1c7da7c57-14.php</key>
							<dict>
								<key>Digest</key>
								<data>
								qStYVkCcxSkx
								OilClwJrJg==
								</data>
								<key>Size</key>
								<integer>17430</integer>
							</dict>
							<key>files/70b40356d79be909ca28d1e5f5c67847-20.php</key>
							<dict>
								<key>Digest</key>
								<data>
								cfrIx4zW9RaW
								O4wnNP/cmg==
								</data>
								<key>Size</key>
								<integer>16599</integer>
							</dict>
							<key>files/72377b83303f293a180da14ed9332080-59.php</key>
							<dict>
								<key>Digest</key>
								<data>
								9LSriPAmyeEt
								v/68akBbTQ==
								</data>
								<key>Size</key>
								<integer>14776</integer>
							</dict>
							<key>files/72d029dd42d1dda293ced93099b935db-15.php</key>
							<dict>
								<key>Digest</key>
								<data>
								vTFX7xmhlbXv
								uu5tVPs9eQ==
								</data>
								<key>Size</key>
								<integer>15006</integer>
							</dict>
							<key>files/7786bb14e48da1ba150867ee0aa23470-26.php</key>
							<dict>
								<key>Digest</key>
								<data>
								9ZgkQUko4CF7
								s46cdPg/0w==
								</data>
								<key>Size</key>
								<integer>16454</integer>
							</dict>
							<key>files/7a4ac44684893632ee14e6b0587c3c64-54.php</key>
							<dict>
								<key>Digest</key>
								<data>
								U8EOwjbiLZc8
								eTwI3MixTQ==
								</data>
								<key>Size</key>
								<integer>15823</integer>
							</dict>
							<key>files/825784bb906fb2925f83ccf3206fb7d1-6.php</key>
							<dict>
								<key>Digest</key>
								<data>
								V8+iaSjXPT3R
								t5ESpKZlUw==
								</data>
								<key>Size</key>
								<integer>14245</integer>
							</dict>
							<key>files/86918877c3e73ffbb74b95bc78a4e474-77.php</key>
							<dict>
								<key>Digest</key>
								<data>
								8PmM91gePqq3
								EA/FnluQUA==
								</data>
								<key>Size</key>
								<integer>16639</integer>
							</dict>
							<key>files/884068ac933b5d7e44d573c3e4d5b49e-61.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fZ4aGV3f2atl
								GxmTB+puig==
								</data>
								<key>Size</key>
								<integer>15668</integer>
							</dict>
							<key>files/8daf0e69d05e40002bf92fa332df8786-50.php</key>
							<dict>
								<key>Digest</key>
								<data>
								CxQVJYfprYg5
								O8bBWkLgCA==
								</data>
								<key>Size</key>
								<integer>14246</integer>
							</dict>
							<key>files/8f13744be838d4731bbd5099e2a32555-62.php</key>
							<dict>
								<key>Digest</key>
								<data>
								B6IjWiuQdE0/
								7OXGAbeqNQ==
								</data>
								<key>Size</key>
								<integer>16225</integer>
							</dict>
							<key>files/90c7c56940e430a1ea32eb094543a34e-7.php</key>
							<dict>
								<key>Digest</key>
								<data>
								s/TKKODdmnQb
								QYvQcv50aA==
								</data>
								<key>Size</key>
								<integer>14718</integer>
							</dict>
							<key>files/90d645e7ddeff49531d3da52e1710b03-67.php</key>
							<dict>
								<key>Digest</key>
								<data>
								dgN67Y4d7mnV
								Gi0uGJTCeg==
								</data>
								<key>Size</key>
								<integer>15184</integer>
							</dict>
							<key>files/95ba966b02bf0a4189d9a689868ea25d-46.php</key>
							<dict>
								<key>Digest</key>
								<data>
								wsdZS5Jhetoc
								poBqQGf2Rg==
								</data>
								<key>Size</key>
								<integer>14074</integer>
							</dict>
							<key>files/96563b966a2c676daeb440901ec993b8-19.php</key>
							<dict>
								<key>Digest</key>
								<data>
								G3uSy6iDzg8F
								zk2kYmQkQQ==
								</data>
								<key>Size</key>
								<integer>14455</integer>
							</dict>
							<key>files/a5028fd379ccb7aee611e12b450c6fad-13.php</key>
							<dict>
								<key>Digest</key>
								<data>
								j4awfANMVrXU
								TVDc+iQ+ww==
								</data>
								<key>Size</key>
								<integer>16990</integer>
							</dict>
							<key>files/a635f23df9ab9bf51b93659b2be59d4f-70.php</key>
							<dict>
								<key>Digest</key>
								<data>
								XUmjO55GBHTW
								zvL+c3NFMA==
								</data>
								<key>Size</key>
								<integer>15762</integer>
							</dict>
							<key>files/a6378e5c501efb14384230e8851fd026-47.php</key>
							<dict>
								<key>Digest</key>
								<data>
								I0FIAREHHplN
								XXZznSQrhg==
								</data>
								<key>Size</key>
								<integer>14540</integer>
							</dict>
							<key>files/a976ba6215fc8e3a0b2c834c5a29f5da-9.php</key>
							<dict>
								<key>Digest</key>
								<data>
								uPOEzRFa0WMA
								+QkOQrdXiw==
								</data>
								<key>Size</key>
								<integer>16641</integer>
							</dict>
							<key>files/aa1f76e376de2fd34b288423e159a77f-23.php</key>
							<dict>
								<key>Digest</key>
								<data>
								rSCyVYQPYeYx
								Q5H3phxGhg==
								</data>
								<key>Size</key>
								<integer>16361</integer>
							</dict>
							<key>files/ab622e9cc46e0505ee30451c75e24b38-38.php</key>
							<dict>
								<key>Digest</key>
								<data>
								SSI0PagreBCH
								DrZP217Xvg==
								</data>
								<key>Size</key>
								<integer>14537</integer>
							</dict>
							<key>files/ada-coin-3d-001.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZtocFxVHadjp
								9xW2iqGULw==
								</data>
								<key>Size</key>
								<integer>19836</integer>
							</dict>
							<key>files/archive-april-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								RmH7GF6eFXwe
								mDolpVClQg==
								</data>
								<key>Size</key>
								<integer>17858</integer>
							</dict>
							<key>files/archive-april-2022.php</key>
							<dict>
								<key>Digest</key>
								<data>
								XmfM2wB/VubZ
								HCfEzERV6Q==
								</data>
								<key>Size</key>
								<integer>28922</integer>
							</dict>
							<key>files/archive-august-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								e/IXQdvPSEaW
								s0YFati6fA==
								</data>
								<key>Size</key>
								<integer>19257</integer>
							</dict>
							<key>files/archive-august-2021.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Xgc63oWCLwyz
								3Ao6YVjGtQ==
								</data>
								<key>Size</key>
								<integer>15757</integer>
							</dict>
							<key>files/archive-december-2021.php</key>
							<dict>
								<key>Digest</key>
								<data>
								wRBFdT4dKIva
								VLdztgQ2UA==
								</data>
								<key>Size</key>
								<integer>15672</integer>
							</dict>
							<key>files/archive-february-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6V4uXT9RnlqJ
								HDyb8ccyww==
								</data>
								<key>Size</key>
								<integer>17427</integer>
							</dict>
							<key>files/archive-february-2017.php</key>
							<dict>
								<key>Digest</key>
								<data>
								dhdGo3Zk8/xj
								tg16A0/UQw==
								</data>
								<key>Size</key>
								<integer>19856</integer>
							</dict>
							<key>files/archive-february-2022.php</key>
							<dict>
								<key>Digest</key>
								<data>
								z44P1hEtltjc
								kWIoAZe1bQ==
								</data>
								<key>Size</key>
								<integer>19448</integer>
							</dict>
							<key>files/archive-january-2015.php</key>
							<dict>
								<key>Digest</key>
								<data>
								/oOW4xDHEUPk
								xkV+xExFFQ==
								</data>
								<key>Size</key>
								<integer>15134</integer>
							</dict>
							<key>files/archive-january-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								PkQg3NJCTWTJ
								S0t6YWyPdQ==
								</data>
								<key>Size</key>
								<integer>15638</integer>
							</dict>
							<key>files/archive-january-2022.php</key>
							<dict>
								<key>Digest</key>
								<data>
								2Hd8Bvr99pU5
								uvRp3NZgbQ==
								</data>
								<key>Size</key>
								<integer>17953</integer>
							</dict>
							<key>files/archive-july-2015.php</key>
							<dict>
								<key>Digest</key>
								<data>
								BR8d+g0CjB0J
								QNG8UKriDA==
								</data>
								<key>Size</key>
								<integer>17402</integer>
							</dict>
							<key>files/archive-july-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								LUe7E4KhQMvX
								yWLSHDABVQ==
								</data>
								<key>Size</key>
								<integer>17616</integer>
							</dict>
							<key>files/archive-june-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								sEufki15eZrr
								NcCMx2P5UA==
								</data>
								<key>Size</key>
								<integer>18275</integer>
							</dict>
							<key>files/archive-march-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5KISl5zF943p
								SCG0i4fqGg==
								</data>
								<key>Size</key>
								<integer>18541</integer>
							</dict>
							<key>files/archive-march-2017.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ZJBYMLvxooP/
								8pvjlB4Yrw==
								</data>
								<key>Size</key>
								<integer>18261</integer>
							</dict>
							<key>files/archive-march-2022.php</key>
							<dict>
								<key>Digest</key>
								<data>
								pR57vXesPQgn
								2ftMEgg9XA==
								</data>
								<key>Size</key>
								<integer>16531</integer>
							</dict>
							<key>files/archive-may-2015.php</key>
							<dict>
								<key>Digest</key>
								<data>
								v3UTdaZbuE+9
								mVhQVCs+ww==
								</data>
								<key>Size</key>
								<integer>15983</integer>
							</dict>
							<key>files/archive-may-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fBJEh1c2Um93
								y1av6V7AqQ==
								</data>
								<key>Size</key>
								<integer>20721</integer>
							</dict>
							<key>files/archive-may-2022.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ANmkJejvIEMP
								0GeM30ae6A==
								</data>
								<key>Size</key>
								<integer>19760</integer>
							</dict>
							<key>files/archive-november-2015.php</key>
							<dict>
								<key>Digest</key>
								<data>
								c5ozYeCEkWux
								fPQZNzFs1A==
								</data>
								<key>Size</key>
								<integer>18047</integer>
							</dict>
							<key>files/archive-november-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								7apWm9Yv1MS9
								+DiIwKijNg==
								</data>
								<key>Size</key>
								<integer>16504</integer>
							</dict>
							<key>files/archive-october-2015.php</key>
							<dict>
								<key>Digest</key>
								<data>
								eyTys+5mIAyZ
								qRwSOvt3Kg==
								</data>
								<key>Size</key>
								<integer>21294</integer>
							</dict>
							<key>files/archive-october-2016.php</key>
							<dict>
								<key>Digest</key>
								<data>
								MjEJg12QoFgV
								e/MLurrEkQ==
								</data>
								<key>Size</key>
								<integer>17490</integer>
							</dict>
							<key>files/archive-october-2021.php</key>
							<dict>
								<key>Digest</key>
								<data>
								0np0QWwn5sjy
								8271VBCcWQ==
								</data>
								<key>Size</key>
								<integer>15634</integer>
							</dict>
							<key>files/archive-september-2015.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ZmuF/PvpdGcn
								pe9mh3VAiQ==
								</data>
								<key>Size</key>
								<integer>18350</integer>
							</dict>
							<key>files/archive-september-2021.php</key>
							<dict>
								<key>Digest</key>
								<data>
								mLGHUYy4YlOO
								lpdbMDjp2A==
								</data>
								<key>Size</key>
								<integer>15503</integer>
							</dict>
							<key>files/c0f4970b82f198d94b82e96668df5180-0.php</key>
							<dict>
								<key>Digest</key>
								<data>
								hLw+o/SH4UKe
								gJEUC6NLAg==
								</data>
								<key>Size</key>
								<integer>15538</integer>
							</dict>
							<key>files/c273ceb441f649b134fb8e319e8cc260-21.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ZQSkd5bhi+nc
								So4dgPZoug==
								</data>
								<key>Size</key>
								<integer>14123</integer>
							</dict>
							<key>files/c40519cb7d7eeafad65faddfdf5c9b67-41.php</key>
							<dict>
								<key>Digest</key>
								<data>
								AX+jNaDdOkTh
								Sk30hGdS/w==
								</data>
								<key>Size</key>
								<integer>16717</integer>
							</dict>
							<key>files/c6792da119ee4f2011bd48c73483b2f5-16.php</key>
							<dict>
								<key>Digest</key>
								<data>
								JKC+bfZYq//s
								dnydALKc2A==
								</data>
								<key>Size</key>
								<integer>13989</integer>
							</dict>
							<key>files/category-ada-forge.php</key>
							<dict>
								<key>Digest</key>
								<data>
								OhvuA7KxZvwy
								iYRja211Pg==
								</data>
								<key>Size</key>
								<integer>15613</integer>
							</dict>
							<key>files/category-app-library.php</key>
							<dict>
								<key>Digest</key>
								<data>
								DfbPegi6C7CL
								mQUx4HOm+Q==
								</data>
								<key>Size</key>
								<integer>15755</integer>
							</dict>
							<key>files/category-compiler.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Sw5QLjpEE9Pk
								8MpoSmJPGw==
								</data>
								<key>Size</key>
								<integer>33696</integer>
							</dict>
							<key>files/category-framework.php</key>
							<dict>
								<key>Digest</key>
								<data>
								hmjr0haJw+e4
								kdgKQZGt+g==
								</data>
								<key>Size</key>
								<integer>28357</integer>
							</dict>
							<key>files/category-humor.php</key>
							<dict>
								<key>Digest</key>
								<data>
								iGpesc+utqQj
								UNJHo4/pfA==
								</data>
								<key>Size</key>
								<integer>15452</integer>
							</dict>
							<key>files/category-library.php</key>
							<dict>
								<key>Digest</key>
								<data>
								0kEVCCdrqWrK
								g5CMECU90g==
								</data>
								<key>Size</key>
								<integer>34693</integer>
							</dict>
							<key>files/category-license.php</key>
							<dict>
								<key>Digest</key>
								<data>
								V46+/u2pKEuW
								r9vzpA89LA==
								</data>
								<key>Size</key>
								<integer>14693</integer>
							</dict>
							<key>files/category-social.php</key>
							<dict>
								<key>Digest</key>
								<data>
								IK3D6d7GU8tY
								8qhJjgOVLA==
								</data>
								<key>Size</key>
								<integer>14777</integer>
							</dict>
							<key>files/category-tech-library.php</key>
							<dict>
								<key>Digest</key>
								<data>
								75jIvNSTTVv/
								hB+GPdoHJw==
								</data>
								<key>Size</key>
								<integer>52408</integer>
							</dict>
							<key>files/category-tool.php</key>
							<dict>
								<key>Digest</key>
								<data>
								p6pQZEzxpMK8
								LlopbMoP/w==
								</data>
								<key>Size</key>
								<integer>24364</integer>
							</dict>
							<key>files/category-tools.php</key>
							<dict>
								<key>Digest</key>
								<data>
								11eGys+Kk1nK
								b+UTs6XWeg==
								</data>
								<key>Size</key>
								<integer>16532</integer>
							</dict>
							<key>files/cc02632770fc6f38b1ac00d28ea0c8bc-66.php</key>
							<dict>
								<key>Digest</key>
								<data>
								izFPEI8rZaN3
								le+Ov/pekw==
								</data>
								<key>Size</key>
								<integer>15716</integer>
							</dict>
							<key>files/cc58256855cb5025a3996d384c6da364-22.php</key>
							<dict>
								<key>Digest</key>
								<data>
								lrfcaUxgZWx1
								efyJarFKEg==
								</data>
								<key>Size</key>
								<integer>15062</integer>
							</dict>
							<key>files/ccd3dab2dd875714e35bd21ef06a4c8e-34.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Oa+moNUvLCfs
								0w+IQpciEg==
								</data>
								<key>Size</key>
								<integer>14983</integer>
							</dict>
							<key>files/d12e42accc176fff89a3562c2b93efb5-10.php</key>
							<dict>
								<key>Digest</key>
								<data>
								beb29fGsq/50
								yDtgbb2uAw==
								</data>
								<key>Size</key>
								<integer>15361</integer>
							</dict>
							<key>files/d91b6cbf986c709225bf5ba8f6f30b5f-75.php</key>
							<dict>
								<key>Digest</key>
								<data>
								0nFQ6irTnctZ
								LQxNH/Mg9Q==
								</data>
								<key>Size</key>
								<integer>15453</integer>
							</dict>
							<key>files/d97d4ed384789a6e99794fe1db1645cb-32.php</key>
							<dict>
								<key>Digest</key>
								<data>
								mxHluMOr2pk9
								qxkESn5olQ==
								</data>
								<key>Size</key>
								<integer>14408</integer>
							</dict>
							<key>files/deef5c6ca812855625106adba30c4a7d-64.php</key>
							<dict>
								<key>Digest</key>
								<data>
								45TpTHkqiMKy
								al/+BPfXOg==
								</data>
								<key>Size</key>
								<integer>17841</integer>
							</dict>
							<key>files/e0fbf66e17d4118737c3726106d77511-68.php</key>
							<dict>
								<key>Digest</key>
								<data>
								9dbVEheAxoVX
								tUMOGa9B3A==
								</data>
								<key>Size</key>
								<integer>15577</integer>
							</dict>
							<key>files/e35c744dde388a7c4f66c6dacc33f61f-37.php</key>
							<dict>
								<key>Digest</key>
								<data>
								abWRM5vOpZ25
								WTtC1nn6tA==
								</data>
								<key>Size</key>
								<integer>15171</integer>
							</dict>
							<key>files/e4539482671563181b9397efe90ffa97-51.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ZucPbre60sqB
								8Q2FyO81ew==
								</data>
								<key>Size</key>
								<integer>13955</integer>
							</dict>
							<key>files/e6a1f2864fb2f2f4ee4d6b6165c3ca90-53.php</key>
							<dict>
								<key>Digest</key>
								<data>
								toUihdcJWGsv
								aBN6fxdzIA==
								</data>
								<key>Size</key>
								<integer>16284</integer>
							</dict>
							<key>files/eec-label-ada-2012-2.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ylzjMwXN19Y0
								GfN4Iv+3rg==
								</data>
								<key>Size</key>
								<integer>49831</integer>
							</dict>
							<key>files/eec-label-java-8.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xdBHjoV+voJ7
								AQO6VVj52g==
								</data>
								<key>Size</key>
								<integer>49798</integer>
							</dict>
							<key>files/eec-label-swift-2.1.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wNHP9hVTXBox
								c+4+4KrGjQ==
								</data>
								<key>Size</key>
								<integer>49117</integer>
							</dict>
							<key>files/f2b6994b600a888b2a44c66819108f8c-29.php</key>
							<dict>
								<key>Digest</key>
								<data>
								BqvBggDsJNPg
								8fPWFBeQQg==
								</data>
								<key>Size</key>
								<integer>14050</integer>
							</dict>
							<key>files/f367ea43e6241fda8dd8c05c13e25f6b-27.php</key>
							<dict>
								<key>Digest</key>
								<data>
								A0SCYbb0rtJG
								xv+mxgnn2Q==
								</data>
								<key>Size</key>
								<integer>14658</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								nafexozNf0/w
								oVRWVLnEig==
								</data>
								<key>Size</key>
								<integer>23174</integer>
							</dict>
							<key>files/pasted-graphic.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								py6Uir7d4Av/
								Kyf4dvipyw==
								</data>
								<key>Size</key>
								<integer>97187</integer>
							</dict>
							<key>files/sidebar-content.html</key>
							<dict>
								<key>Digest</key>
								<data>
								v2uOaerIBH5c
								A99VflbK5g==
								</data>
								<key>Size</key>
								<integer>14565</integer>
							</dict>
							<key>files/tag--gnat.php</key>
							<dict>
								<key>Digest</key>
								<data>
								VdR1/aG7wUpc
								7D7DDr8rxA==
								</data>
								<key>Size</key>
								<integer>15826</integer>
							</dict>
							<key>files/tag-3d.php</key>
							<dict>
								<key>Digest</key>
								<data>
								XvCLf5vrG5wm
								l3M+FBOyMw==
								</data>
								<key>Size</key>
								<integer>15351</integer>
							</dict>
							<key>files/tag-ada-style.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5jDbBqyox73u
								9L9yJC7Jww==
								</data>
								<key>Size</key>
								<integer>19407</integer>
							</dict>
							<key>files/tag-arduino.php</key>
							<dict>
								<key>Digest</key>
								<data>
								8FuYmCoCgEFz
								UhgWCWKlnQ==
								</data>
								<key>Size</key>
								<integer>18186</integer>
							</dict>
							<key>files/tag-arm.php</key>
							<dict>
								<key>Digest</key>
								<data>
								dpkSXwN5JXT2
								IgbCMXAaOw==
								</data>
								<key>Size</key>
								<integer>20674</integer>
							</dict>
							<key>files/tag-automation.php</key>
							<dict>
								<key>Digest</key>
								<data>
								dxsGf5erygBq
								rjk52H2fOQ==
								</data>
								<key>Size</key>
								<integer>15847</integer>
							</dict>
							<key>files/tag-b-trees.php</key>
							<dict>
								<key>Digest</key>
								<data>
								q7iIoVHOVZAE
								s5Q4Z5JUnQ==
								</data>
								<key>Size</key>
								<integer>22772</integer>
							</dict>
							<key>files/tag-blackboards.php</key>
							<dict>
								<key>Digest</key>
								<data>
								0cwvoQVzBJIG
								2IRN+sCIiA==
								</data>
								<key>Size</key>
								<integer>22796</integer>
							</dict>
							<key>files/tag-buffers.php</key>
							<dict>
								<key>Digest</key>
								<data>
								suJL5SzZHAMy
								qRDqpr9Gwg==
								</data>
								<key>Size</key>
								<integer>15304</integer>
							</dict>
							<key>files/tag-chebyshev-series.php</key>
							<dict>
								<key>Digest</key>
								<data>
								e6VYs8j33ULw
								RQcFWJJumw==
								</data>
								<key>Size</key>
								<integer>22826</integer>
							</dict>
							<key>files/tag-compression.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Mu2ZAvVJfa/w
								Vewdl7Td0A==
								</data>
								<key>Size</key>
								<integer>15899</integer>
							</dict>
							<key>files/tag-cortex.php</key>
							<dict>
								<key>Digest</key>
								<data>
								WzN64i5+/1GL
								aUNo+TwIOA==
								</data>
								<key>Size</key>
								<integer>18180</integer>
							</dict>
							<key>files/tag-cryptography.php</key>
							<dict>
								<key>Digest</key>
								<data>
								IW89cG32xHmJ
								jZ2bxuvufw==
								</data>
								<key>Size</key>
								<integer>22802</integer>
							</dict>
							<key>files/tag-dashboard.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Pp9g3rEuUXBg
								fPBt+9vmSA==
								</data>
								<key>Size</key>
								<integer>17635</integer>
							</dict>
							<key>files/tag-database.php</key>
							<dict>
								<key>Digest</key>
								<data>
								WRmxZixnF8A/
								HzJb4lqnjA==
								</data>
								<key>Size</key>
								<integer>18136</integer>
							</dict>
							<key>files/tag-doubly-linked-webs-and-lists.php</key>
							<dict>
								<key>Digest</key>
								<data>
								E831607CJNMn
								C91ur3mjJg==
								</data>
								<key>Size</key>
								<integer>22898</integer>
							</dict>
							<key>files/tag-elv002feq-3-max0021.php</key>
							<dict>
								<key>Digest</key>
								<data>
								t8pOGOlr/IRf
								zIjYD50zDQ==
								</data>
								<key>Size</key>
								<integer>22820</integer>
							</dict>
							<key>files/tag-events.php</key>
							<dict>
								<key>Digest</key>
								<data>
								RogShykcLr69
								73uFyIZD2A==
								</data>
								<key>Size</key>
								<integer>22766</integer>
							</dict>
							<key>files/tag-excel.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ACMs+T0ePELV
								1OoMiNAiBA==
								</data>
								<key>Size</key>
								<integer>15436</integer>
							</dict>
							<key>files/tag-fifo.php</key>
							<dict>
								<key>Digest</key>
								<data>
								vi52QQ2YIyox
								rWHku0tatw==
								</data>
								<key>Size</key>
								<integer>22754</integer>
							</dict>
							<key>files/tag-freebsd.php</key>
							<dict>
								<key>Digest</key>
								<data>
								0LxqMSNObNXE
								Jc+yek0U+w==
								</data>
								<key>Size</key>
								<integer>16531</integer>
							</dict>
							<key>files/tag-g11n.php</key>
							<dict>
								<key>Digest</key>
								<data>
								GzNsExnHA6aW
								mChHxCF0Dg==
								</data>
								<key>Size</key>
								<integer>18265</integer>
							</dict>
							<key>files/tag-gauge.php</key>
							<dict>
								<key>Digest</key>
								<data>
								KTsBRA6jePhC
								lc4+DbG5tg==
								</data>
								<key>Size</key>
								<integer>17611</integer>
							</dict>
							<key>files/tag-gcc.php</key>
							<dict>
								<key>Digest</key>
								<data>
								n9oGuz4YLBSO
								SPUqpzJkEQ==
								</data>
								<key>Size</key>
								<integer>24822</integer>
							</dict>
							<key>files/tag-globalization.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Oiv4U4yuJl1z
								OTwgjZutTQ==
								</data>
								<key>Size</key>
								<integer>18319</integer>
							</dict>
							<key>files/tag-gnat.php</key>
							<dict>
								<key>Digest</key>
								<data>
								KvkuyuV23fgf
								gvuG8wXh1Q==
								</data>
								<key>Size</key>
								<integer>17388</integer>
							</dict>
							<key>files/tag-gnutls.php</key>
							<dict>
								<key>Digest</key>
								<data>
								LxwepFHtlghu
								x/UlFFy/Tw==
								</data>
								<key>Size</key>
								<integer>22766</integer>
							</dict>
							<key>files/tag-graphs.php</key>
							<dict>
								<key>Digest</key>
								<data>
								hcgHEY07uj7e
								nu2UTTiQMg==
								</data>
								<key>Size</key>
								<integer>22766</integer>
							</dict>
							<key>files/tag-gtk.php</key>
							<dict>
								<key>Digest</key>
								<data>
								lM6ScPLrqZL9
								56JkHYfb1Q==
								</data>
								<key>Size</key>
								<integer>28833</integer>
							</dict>
							<key>files/tag-home.php</key>
							<dict>
								<key>Digest</key>
								<data>
								8sSxSFMuFQbI
								PFByOCeIiA==
								</data>
								<key>Size</key>
								<integer>15811</integer>
							</dict>
							<key>files/tag-http.php</key>
							<dict>
								<key>Digest</key>
								<data>
								3s5PusEkSe6c
								w0b31Ja+EQ==
								</data>
								<key>Size</key>
								<integer>22754</integer>
							</dict>
							<key>files/tag-ieee-754.php</key>
							<dict>
								<key>Digest</key>
								<data>
								p9urpzqQr7qw
								1ICSSfvdJg==
								</data>
								<key>Size</key>
								<integer>22778</integer>
							</dict>
							<key>files/tag-image.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Q5cQoI4PyvCO
								Ynqc7Y42oA==
								</data>
								<key>Size</key>
								<integer>16127</integer>
							</dict>
							<key>files/tag-industrial.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ZflO5jAyjR/b
								ZrofZRhszw==
								</data>
								<key>Size</key>
								<integer>17641</integer>
							</dict>
							<key>files/tag-iot.php</key>
							<dict>
								<key>Digest</key>
								<data>
								3BtcH0H3HQ2p
								+GVh54EBuQ==
								</data>
								<key>Size</key>
								<integer>14870</integer>
							</dict>
							<key>files/tag-javascript.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5PNbw+/voKWk
								kLxMGhhW8Q==
								</data>
								<key>Size</key>
								<integer>16537</integer>
							</dict>
							<key>files/tag-l10n.php</key>
							<dict>
								<key>Digest</key>
								<data>
								cTugLOvsTXMv
								91mdSrKzZQ==
								</data>
								<key>Size</key>
								<integer>18265</integer>
							</dict>
							<key>files/tag-linux.php</key>
							<dict>
								<key>Digest</key>
								<data>
								wZdLzsaxvo08
								k0EcwKhspA==
								</data>
								<key>Size</key>
								<integer>17527</integer>
							</dict>
							<key>files/tag-localization.php</key>
							<dict>
								<key>Digest</key>
								<data>
								RbTOUHDDrtQa
								uTp4bBVO3Q==
								</data>
								<key>Size</key>
								<integer>18313</integer>
							</dict>
							<key>files/tag-macos.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6BS82bNizolX
								GcMqFL5S1w==
								</data>
								<key>Size</key>
								<integer>25125</integer>
							</dict>
							<key>files/tag-maps.php</key>
							<dict>
								<key>Digest</key>
								<data>
								S53GUD+0GN3U
								5P2TUXWLOg==
								</data>
								<key>Size</key>
								<integer>22754</integer>
							</dict>
							<key>files/tag-math.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HfAmstwTuUYy
								PmLJDhf7yQ==
								</data>
								<key>Size</key>
								<integer>16647</integer>
							</dict>
							<key>files/tag-ml.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ry00KBpGy1Z4
								MykXmx6Z+Q==
								</data>
								<key>Size</key>
								<integer>16957</integer>
							</dict>
							<key>files/tag-modbus.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fU+2o0lDYjiS
								4zqWxShReQ==
								</data>
								<key>Size</key>
								<integer>22766</integer>
							</dict>
							<key>files/tag-mqtt.php</key>
							<dict>
								<key>Digest</key>
								<data>
								e6CEvvYPXWan
								3WhvTaPSHQ==
								</data>
								<key>Size</key>
								<integer>15284</integer>
							</dict>
							<key>files/tag-mutexes.php</key>
							<dict>
								<key>Digest</key>
								<data>
								tHcb1b6wy1oL
								sSdP5SZt2g==
								</data>
								<key>Size</key>
								<integer>22772</integer>
							</dict>
							<key>files/tag-mysql.php</key>
							<dict>
								<key>Digest</key>
								<data>
								ceHFFqFQ1rtu
								duKT9k+Vgw==
								</data>
								<key>Size</key>
								<integer>17103</integer>
							</dict>
							<key>files/tag-network.php</key>
							<dict>
								<key>Digest</key>
								<data>
								eSKeVGgexqwo
								T3wmEeYZwg==
								</data>
								<key>Size</key>
								<integer>15314</integer>
							</dict>
							<key>files/tag-odbc.php</key>
							<dict>
								<key>Digest</key>
								<data>
								N6/nzgTubTko
								eWOldOhvDg==
								</data>
								<key>Size</key>
								<integer>22754</integer>
							</dict>
							<key>files/tag-opengis.php</key>
							<dict>
								<key>Digest</key>
								<data>
								WyhzDHRaPrjk
								VgSjPhu4UA==
								</data>
								<key>Size</key>
								<integer>15399</integer>
							</dict>
							<key>files/tag-osx.php</key>
							<dict>
								<key>Digest</key>
								<data>
								4E5elhxDHm53
								8OLC1PkMbw==
								</data>
								<key>Size</key>
								<integer>22693</integer>
							</dict>
							<key>files/tag-parser.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HihUevqfps6A
								pU+Xa4OWUQ==
								</data>
								<key>Size</key>
								<integer>22766</integer>
							</dict>
							<key>files/tag-pdf.php</key>
							<dict>
								<key>Digest</key>
								<data>
								L+DfrzKz8DHV
								MYPc9Q6tpA==
								</data>
								<key>Size</key>
								<integer>14967</integer>
							</dict>
							<key>files/tag-persistent.php</key>
							<dict>
								<key>Digest</key>
								<data>
								qvsnsPazeCqb
								RKsclayzug==
								</data>
								<key>Size</key>
								<integer>22790</integer>
							</dict>
							<key>files/tag-physics.php</key>
							<dict>
								<key>Digest</key>
								<data>
								7EJx/1TY73Hv
								1YGmvOA9tw==
								</data>
								<key>Size</key>
								<integer>16665</integer>
							</dict>
							<key>files/tag-pools.php</key>
							<dict>
								<key>Digest</key>
								<data>
								8eUj4i9TI1LV
								d4OYSWnwHQ==
								</data>
								<key>Size</key>
								<integer>22760</integer>
							</dict>
							<key>files/tag-postgresql.php</key>
							<dict>
								<key>Digest</key>
								<data>
								UszrSl+qlXMk
								MTPKxXN48Q==
								</data>
								<key>Size</key>
								<integer>17133</integer>
							</dict>
							<key>files/tag-qt.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Pd5WuL221hIR
								eusr8hRo5w==
								</data>
								<key>Size</key>
								<integer>16446</integer>
							</dict>
							<key>files/tag-quality-code.php</key>
							<dict>
								<key>Digest</key>
								<data>
								/bLwRieCmUPY
								Nqwb/Qu2bw==
								</data>
								<key>Size</key>
								<integer>19425</integer>
							</dict>
							<key>files/tag-quartz.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HrpCqxKH8AnI
								/7rVqcgFvw==
								</data>
								<key>Size</key>
								<integer>15861</integer>
							</dict>
							<key>files/tag-regexpr.php</key>
							<dict>
								<key>Digest</key>
								<data>
								T1TT/UJ0ziDU
								fyKTu40/qg==
								</data>
								<key>Size</key>
								<integer>14868</integer>
							</dict>
							<key>files/tag-rtfm.php</key>
							<dict>
								<key>Digest</key>
								<data>
								y8lMgaDeh78A
								aYTSYqxrFQ==
								</data>
								<key>Size</key>
								<integer>14849</integer>
							</dict>
							<key>files/tag-rts.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Wp0hcfvXfC+N
								aud4o3xm4A==
								</data>
								<key>Size</key>
								<integer>15814</integer>
							</dict>
							<key>files/tag-sets.php</key>
							<dict>
								<key>Digest</key>
								<data>
								QAPc2IIBK5aM
								M1HXUbOmHA==
								</data>
								<key>Size</key>
								<integer>22754</integer>
							</dict>
							<key>files/tag-sources-editor.php</key>
							<dict>
								<key>Digest</key>
								<data>
								GgtEsfPYVjkO
								UzhUr1WlNA==
								</data>
								<key>Size</key>
								<integer>19667</integer>
							</dict>
							<key>files/tag-spark.php</key>
							<dict>
								<key>Digest</key>
								<data>
								oqHNbQSpVcKz
								ophCG8bZ+Q==
								</data>
								<key>Size</key>
								<integer>16559</integer>
							</dict>
							<key>files/tag-spark2014.php</key>
							<dict>
								<key>Digest</key>
								<data>
								qOsDy2x6b+2e
								ndWKCPCdlw==
								</data>
								<key>Size</key>
								<integer>15361</integer>
							</dict>
							<key>files/tag-spatial-data.php</key>
							<dict>
								<key>Digest</key>
								<data>
								9Bku/vacyZvZ
								0QgC/ZZOtA==
								</data>
								<key>Size</key>
								<integer>15429</integer>
							</dict>
							<key>files/tag-sql.php</key>
							<dict>
								<key>Digest</key>
								<data>
								upIUlHqtNe61
								Pyot6ZKB1g==
								</data>
								<key>Size</key>
								<integer>18106</integer>
							</dict>
							<key>files/tag-sqlite.php</key>
							<dict>
								<key>Digest</key>
								<data>
								36UFze4SL8n+
								8zsHlsEOeQ==
								</data>
								<key>Size</key>
								<integer>25862</integer>
							</dict>
							<key>files/tag-stacks.php</key>
							<dict>
								<key>Digest</key>
								<data>
								QF5NAXphDMTG
								tZF6QkOOjw==
								</data>
								<key>Size</key>
								<integer>22766</integer>
							</dict>
							<key>files/tag-storage-pools.php</key>
							<dict>
								<key>Digest</key>
								<data>
								RWR6Ieg+wBnY
								qUEhhfH3Cg==
								</data>
								<key>Size</key>
								<integer>16461</integer>
							</dict>
							<key>files/tag-streams.php</key>
							<dict>
								<key>Digest</key>
								<data>
								UhLFgqoCntN4
								xw2MmUBLpQ==
								</data>
								<key>Size</key>
								<integer>23784</integer>
							</dict>
							<key>files/tag-strings.php</key>
							<dict>
								<key>Digest</key>
								<data>
								8nHAeyqthszh
								5NmqwYK+qw==
								</data>
								<key>Size</key>
								<integer>23611</integer>
							</dict>
							<key>files/tag-tcp.php</key>
							<dict>
								<key>Digest</key>
								<data>
								5edzv25YKA+g
								iI4zyA1iqA==
								</data>
								<key>Size</key>
								<integer>22748</integer>
							</dict>
							<key>files/tag-web.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HWp9/T6XTJ/A
								MPExftcJYw==
								</data>
								<key>Size</key>
								<integer>16692</integer>
							</dict>
							<key>files/tag-widgets.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Wwe5cCCi80Tf
								vsquJ1ukmQ==
								</data>
								<key>Size</key>
								<integer>17623</integer>
							</dict>
							<key>files/tag-windows.php</key>
							<dict>
								<key>Digest</key>
								<data>
								oQIl7A02LfD1
								Zqs2OLC1qA==
								</data>
								<key>Size</key>
								<integer>18099</integer>
							</dict>
							<key>files/which-programs-are-fastest-20151029.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dQS3Sp1d6yck
								q9AaLXvsMA==
								</data>
								<key>Size</key>
								<integer>67186</integer>
							</dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								rx2OnQs+5i3U
								lJSb9Dyb5w==
								</data>
								<key>Size</key>
								<integer>38527</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>News</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
