<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>build</key>
				<string>6029</string>
				<key>partialData</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcADFgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0gAIAAkACgALWHJlc29sdmVy
				WHBhcnRpYWxzgAOAAa8QjAANAA4AEwAaAB4ArQCuAK8A
				sACxALIAswC0ALUAtgC3ALgAuQC6ALsAvAC9AL4AvwDA
				AMEAwgDDAMQAxQDGAMcAyADJAMoAywDMAM0AzgDPANAA
				0QDSANMA1ADVANYA1wDYANkA2gDbANwA3QDeAN8A4ADh
				AOIA4wDkAOUA5gDnAOgA6QDqAOsA7ADtAO4A7wDwAPEA
				8gDzAPQA9QD2APcA+AD5APoA+wD8AP0A/gD/AQABAQEC
				AQMBBAEFAQYBBwEIAQkBCgELAQwBDQEOAQ8BEAERARIB
				EwEUARUBFgEXARgBGQEaARsBHAEdAR4BHwEgASEBIgEj
				ASQBJQEmAScBKAEpASoBKwEsAS0BLgEvATABMQEyATZV
				JG51bGzSAA8AEAARABJaTlMub2JqZWN0c1YkY2xhc3Og
				gALSABQAFQAWABdaJGNsYXNzbmFtZVgkY2xhc3Nlc1xO
				U011dGFibGVTZXSjABYAGAAZVU5TU2V0WE5TT2JqZWN0
				0gAbABAAHAAdWXJlc291cmNlc4AEgIvTAB8ADwAQACAA
				ZgCsV05TLmtleXOvEEUAIQAiACMAJAAlACYAJwAoACkA
				KgArACwALQAuAC8AMAAxADIAMwA0ADUANgA3ADgAOQA6
				ADsAPAA9AD4APwBAAEEAQgBDAEQARQBGAEcASABJAEoA
				SwBMAE0ATgBPAFAAUQBSAFMAVABVAFYAVwBYAFkAWgBb
				AFwAXQBeAF8AYABhAGIAYwBkAGWABYAGgAeACIAJgAqA
				C4AMgA2ADoAPgBCAEYASgBOAFIAVgBaAF4AYgBmAGoAb
				gByAHYAegB+AIIAhgCKAI4AkgCWAJoAngCiAKYAqgCuA
				LIAtgC6AL4AwgDGAMoAzgDSANYA2gDeAOIA5gDqAO4A8
				gD2APoA/gECAQYBCgEOARIBFgEaAR4BIgEmvEEUAZwBo
				AGkAagBrAGwAbQBuAG8AcABxAHIAcwBuAHUAdgB3AHgA
				eQB6AHsAfAB9AH4AfwCAAIEAggCDAIQAhQCGAIcAiACJ
				AIoAiwCMAI0AiQCPAJAAkQCSAJMAlACVAJYAlwB/AJkA
				mgCbAJwAnQCeAJ8AoAChAKIAowBuAKUApgCnAKgAqQCq
				AKqASoBLgEyATYBOgE+AUIBRgFKAU4BUgFWAVoBRgFeA
				WIBZgFqAW4BcgF2AXoBfgGCAYYBigGOAZIBlgGaAZ4Bo
				gGmAaoBrgGyAbYBugG+Aa4BwgHGAcoBzgHSAdYB2gHeA
				eIBhgHmAeoB7gHyAfYB+gH+AgICBgIKAg4BRgISAhYCG
				gIeAiICJgImAil8QJDY2REI5REY4LUVERUEtNDIwMC05
				MTAyLUNEMkMwMUUzRTU4Ql8QJDEzODYzOUU4LTMzNjgt
				NDI1Mi05OTNGLTIxMzM5ODM3NURBNl8QJDI4NTg3MjdE
				LTZEQjEtNDZGNi1CRTZGLTEyRUEwMTM4QzVBMV8QJDA0
				NzIxMDFDLTUyQjAtNEU4Ri1CNjgzLTBBODY0RTFFQzFB
				NF8QJDRCRjMyNkQzLTY5N0QtNDcxOC05QkRGLTAxNzU1
				ODhGNjk4MV8QJDRFNzU3RjFBLTdCMTQtNEUwRC05QkUz
				LTVBMDhGRDNDRTNDMF8QJEU3ODlFNkQ0LTdDRDEtNDQ5
				NS05MTEzLURBMEVCOUVFQ0UxNV8QJDgyNjY1MzlCLUVG
				NkQtNEJERi1BQTZCLUNFQTM4MzE5OUMyRl8QJEZEQjFF
				RDk4LUI5QkMtNEU1RC05Q0I2LUM3QjYwNEY3RTk0M18Q
				JDA3REU5QzVBLUFCODItNDMyMi1CMDgwLTlERTBEQjNB
				MzQwNF8QJDI1RjVEOUQzLTVCOUEtNEIxRS1CQkNELTA3
				RkRBNkYxRTE4M18QJDcyRkM4QjI1LUNCREItNDNGQy1C
				MkU2LTgzMzZBOTBCMEMwRF8QJEQ1N0FEMkEyLTQ0REQt
				NDUzOS05QUM4LTkxQzE2RDE5QzUxMV8QJDY1MDQwNjNF
				LTAwOTEtNDlFNi05NjNELUNEMUMxRERGQTgwM18QJDg0
				NTg5RUQ4LThGM0UtNEJGNS1BMzAxLTVGQTJBOUU1RkFE
				OV8QJEYzNzlFMEVGLThDRDAtNDM5Qy05MDI2LTE4Qzc4
				OTU3OTE4MF8QJDU4QkFFRENDLUQyRDItNDIyMy04NTEx
				LTAxMjc1QjY5RjExNV8QJDdDNzVEMzgxLTU0RUMtNDJB
				My04NDM1LTEyOThCMzBFNkI0Nl8QJDAzN0UyRDY5LUMx
				OUEtNEUyRS1CREUzLUNFMzdCRkZEMEEzNF8QJDBBQjgz
				M0NFLUIxNUMtNDQ2Ni1CMzYxLTE3REVCMUVFRDg5Ql8Q
				JDM5M0JGRjM4LUQ4MzAtNEEwRi04Q0VELTc4Q0NCQzZC
				RUZENV8QJDE2NDkwNUJGLTFFMTgtNDhBOS04OTg5LTdG
				ODI4Mzk1MDQ4MV8QJEFEMUJGODMwLUJENTMtNDlDOC1B
				MzBBLTY0QkMyOEZDRjM1RV8QJEI5RDgwNTBBLTExMTQt
				NEVDRC04MzI5LUM1OTdCNUFBRkFBRl8QJDFDODIzRDFF
				LTFDQzEtNDhGRC1CRDlBLUU1NDhDMjUwQzFCMF8QJERG
				OEQ2QjdGLTU5MTQtNDIzMi04OUNBLTQ4MEREMUJFQzNE
				QV8QJDkzOTRCNEJDLTAwQkItNDRCOS1BMDRBLUEwRTVD
				MUM5MzMwMl8QJEQxRjZDOEQ0LUU5QkItNDA4Qi05MDM3
				LUNENUZDOEIyRjAxMl8QJDc5RjI2QUFELTU4MEQtNEIw
				Qy1BREM3LTY5QzBGRjI3RjZGMV8QJDQ5NjRCNTE0LTVF
				NzAtNDg2OS05QTZGLUEwRUMwQTUxMDRDNF8QJDFFRTBE
				MEZCLTcxNDYtNDg1MC04NkMxLTE0RjdCRDczOTE2RF8Q
				JDcxM0M2RTEyLUJBMjQtNEU3RC04NUJCLTY3QzJBRTA1
				MTU3Rl8QJDU0NkUyMTAzLTg5NEEtNEQ4Mi04NTJDLUYw
				NjVDN0VERkIzMV8QJDY0RUQ0MjA2LTgzQUMtNDQzMy1B
				MTI4LUFGN0UwMzU1QTAxNV8QJEFCREQyMUE4LTVDQjEt
				NEI0Ni1CRjZCLTIzMkRGNDM0N0FENl8QJEFCNzE3Mzc2
				LTEwMkEtNDFDRi1BMEQxLTIwNzMyNzk4REFEN18QJEU3
				MDY0QjgzLUY0MTEtNDJERS1BRDc5LUE0RThBQ0RBNThG
				Ql8QJDU2RUExQzAwLTIxMUItNDgzQi04MzdCLUE0REE0
				NzYwMzk0OV8QJDNCOUYzODFCLTQyQzAtNEVBNC1BRkZB
				LTc3OUFERkIwODczNF8QJEZDNjRFQTIzLTFDNjgtNDAy
				MC1BOERDLUJENzYzRUZFOEY0Q18QJEFEQjAyNzY4LTU0
				QkItNEY5MS1BQ0NGLTBCOUM1NzE0MkYxNl8QJDRFODQx
				RjBFLTBBQ0UtNDRGOS05OEJGLUNBODdDNEVBREREQ18Q
				JEZDNEZGRDc4LUVGQkItNEQ5Qi1BNTk0LUMxQjc4OEJC
				NkVBNV8QJDQ1QkEyRDc4LUZGNDEtNDBENC04ODMzLTc5
				NzI0M0M4NDQ3Ql8QJDBBQjhFMEM3LTgwOUEtNEJERC1C
				MTUyLUM0MDFBOTAxN0MxMV8QJEYxREZDQTI3LUNFNDUt
				NDgyOC1BNTk3LUVFOTA4QjdBQzRDQl8QJEZBRkMwMTQw
				LTcyMUUtNEFCNi04MzJCLUUyQ0YwQTMyRkVDMV8QJEY1
				RkZDRUYzLTBCMjQtNDM4MS05Q0IzLTQ4RkZGMEMwNTYx
				M18QJDA3Mzk5QzNCLTk1MTQtNDNBOS05RUU2LUMwNkRB
				QTU4Qjk2NV8QJEJGNjRCOEYyLTBGMzQtNDJDNS04MUM1
				LUNFRTNGMjFDMjNGRF8QJDkzMDBGMzNELThGNzMtNDVE
				MS1BRDM3LUVFRDM3MjdFNUY4Nl8QJDAzRjEzOUNGLUVB
				QjYtNDYyQS05NjcwLTZGQkRGODA1NkNDRF8QJDEzMjY3
				NTlFLTk2ODUtNDU0RS05MjY0LUQyRDI4QkMyMEE5RV8Q
				JEQxQ0VDNDQ4LTUzRDktNDI4OC04MDIzLTU1RUUyRUMw
				N0ZFRF8QJENFRkJDNjkxLUM3NjQtNDc4Qi1CMEIxLTIy
				MTMzNUVCQTNCN18QJDFENzU5QkE0LTFGQjctNEJGQi1B
				RDI1LTg1NzRCNDI2Q0M5MV8QJDY3M0IzMUU5LTJEMjct
				NEI0Qi04NUJCLTgyM0E2M0IxRjYwN18QJDkzRDNDMDJE
				LUIxNTktNDg4Ny1BMkQwLTA4NUI1OUIzMjEwRl8QJDI2
				MjVBRkFCLTg5RDQtNDExRC1CMTVELTdCMDlFNkMzODUz
				N18QJDJGMUE4MjBELTg0MEItNDM3QS1CMkY5LTRFM0Ey
				OTlBRjMwN18QJEMxOEYyMEZDLTlGMEMtNDc1Ny1BMTM1
				LUQ3NzI2Rjg5MjZFOV8QJEZENTg1QURBLTc1MzYtNDJE
				My04QTU5LUE3QUMwOUEyODc0RV8QJDE1MEM5QjgwLTg5
				NzQtNEQ3My04OTMwLTBCNjlFQjMzQThGRl8QJDI5NEVC
				NDBELUVFMDMtNDJCMC1CODlCLTBENjc2OTEyOTYyMV8Q
				JDczQzhFOTIzLTIwRjMtNDJCMC04N0ZFLTFBMTUwOUQ2
				NEE2NF8QJEMzRjI1NTlCLUY5M0UtNEEyRS1BMjc4LTgw
				REVCNkQwMjE1QV8QJEZEQUFBQTdCLTMzNDUtNENENi1C
				OTNCLUVFOTA4MDI0RUI0Q18QJEZFNTlFOTczLUNFRkYt
				NDJDNS1CNDRGLUFBQ0Q5M0MyMEI5Rl8QJEMyQ0JCNjI1
				LURDNUEtNDRERC1CQjE0LTczQkM1MDk0RkU5Nl8QJDBB
				QkU3MjA2LTk1NTctNDVBQS05N0IxLUI4OTQwRTc5QjZD
				N18QJDdGNTJGMTU4LTI3NTgtNDA0Ri04NzM1LURGMjVF
				REU3RDI3RV8QJDA5RDA3MDA5LUVGODEtNDk3MS1BMURB
				LTU2NTQ2Nzg2OUQ1Q18QJDkwMjQ0RkIxLTUxN0UtNDY4
				MS1CMTVELTRDQ0FBQTZBRDk3Q18QJDI4MDg0QzkwLUUz
				QUEtNDdDNi1CQURGLTA0REQ4MkFERDg3Q18QJDIzODdB
				NEY2LUJBNjEtNDhCMy04NEM3LUY1RUUwMThFQ0M4Rl8Q
				JEQxRDYwOThBLTA3QjQtNEUzNS1BREVDLUVCNjRBQzFC
				OTQ2QV8QJDBBMkQwRDg2LTk2NTUtNDJEOS05MkE4LTkw
				MzJGNEE5MjU4NF8QJEY3MDBBMEYzLTY2RjEtNDRFMy1C
				QTY5LTBBRUVEMzVDQTI3Ql8QJDk0Q0YxQTZFLTcxNzYt
				NEZCMy1CREVDLURCRENCOTlCMTIxN18QJDg4MDVBREQ3
				LTlENEYtNDA1Ri1CQ0VELTdGQzU1RTcxNjVBM18QJEE2
				RTAwQjVBLTAwMDUtNDA0MC1BNUM0LUREODg1NkYzRUIx
				OF8QJEMzRTExQkM2LTg2MzgtNDI5MC04RUM1LTgyMzA5
				NjEwQTlERl8QJEU2NEU4QTgwLUVGRTAtNDI2Ny1BNjQ0
				LTM0RDgxRTYyMTZERF8QJERCRDU2ODc2LTc4NUUtNDk1
				Ri1CREVFLTVDNkZEMjZDNjY2QV8QJDVCNjdDOEMzLTU4
				RkEtNDRGNC05RUU3LUQ5Q0MwQzZEOUEzQl8QJEFEOUM3
				RjE0LTA2OTItNDgzMC04NzhCLTRENzQ4RDM1REVDNl8Q
				JDM0RTMxNDkyLUQ0MTQtNEM2MC04QzdCLTgxOUI0NDU3
				Q0VBRl8QJDlGN0JDN0RELUEwNDItNDc0Qy05ODAyLTQ5
				NUE5MzEyRDk4M18QJDkxRTNFNTY0LTczNUMtNDBBNS1C
				NTkyLTBEREY3MzY5RkIyQV8QJEZBNjBDNTdBLUUyNzkt
				NERFRi05QzQxLUJGNzRDOTdEMTEyNV8QJDI5M0YzRkND
				LTEzMzEtNDU5Mi05OENCLTMzNUE3MEZEQjExMl8QJDVF
				QkYyQjFGLTI3MzQtNDZCOC1CNDYzLTREODk5MzFDRDU4
				RF8QJDQxQzk0MDhBLUNCREQtNDJFNi1CMDc3LTA2NzhC
				NTRGRUU5Ql8QJDI4QzVGRDFGLTQ2OTctNDNBOS1BQjYx
				LTg3MUFGRDcyOThCNV8QJDM4MjdGOTA0LUU4Q0YtNEI4
				NS1BOEExLTEyOTBDMzJCMjBBM18QJDBEOUNEMEYzLUJE
				NjgtNDk0MS1CREEwLUE3OTRBQjI0NUYyOV8QJEQ4RTA4
				Qjc1LUYyRTctNEUyMS05N0E4LUVGMzE0NTBDRUY0MF8Q
				JEZBRTI4RURBLTFDMzQtNDBGNC04OUJFLTk5NTc5N0Ew
				QkZDQV8QJDM0N0MzRTY0LTE2MDAtNDQyMC1BRTFGLUUz
				OTYxQjJBREM4NF8QJEU4RDAyMjJDLTg4NzYtNDA2NC05
				NTZFLUU2NEZCNjFERjk5Rl8QJEYwRjVBRDhCLUVENTEt
				NDRENy1BMjUyLUQ4OTkzRDk5RDNGMV8QJEU3RTJENzcz
				LUI3ODgtNDQxRS05QjlGLUEwRTJEMDk4REY3M18QJEEx
				REJGREQ1LTcwQzQtNENCQS1BQzNDLTNGRTg4NDY3NUI3
				NF8QJEIwRjNDQzUzLUJCRjYtNDVBRi05OUQ1LUE1RDM5
				QkZCQTEyMV8QJDhBNDlEQTNELTZGRDktNDdCMy05MjdG
				LUVEQzFBNzE5NTMyMl8QJDI5M0YzRkNDLTEzMzEtNDU5
				Mi05OENCLTMzNUE3MEZEQjExMl8QJEMzRTExQkM2LTg2
				MzgtNDI5MC04RUM1LTgyMzA5NjEwQTlERl8QJDQwOEE3
				MzAxLTNCNDQtNEU4My04OTdGLTlEOURGOUJBODBGRF8Q
				JDFGRURCMTY0LTg2MTEtNEQzRS04NjhBLTYwQ0YwNEMx
				NzMxM18QJDkxRTNFNTY0LTczNUMtNDBBNS1CNTkyLTBE
				REY3MzY5RkIyQV8QJDlBOTU2OTU4LUE1NTItNENGRC1C
				NTZBLTZDOUVBMzExNTFCMV8QJEZBRTI4RURBLTFDMzQt
				NDBGNC04OUJFLTk5NTc5N0EwQkZDQV8QJERCOEExNDcx
				LTM0MzctNDNGMS05MUI5LTVDRkQ4RDkzNzcwN18QJEMx
				NEY2MTg1LTlBQjEtNEQwMC1BQjI0LTIyNzZFNUYzMTEw
				RF8QJDY4NzEwODQ5LThFNTYtNDdEQS04MjZFLTc3QzhE
				NERFRjdBQl8QJDA0RTQ0NjFBLTZEQjQtNEVBQy05NUUw
				LUI1NTFGQzAzMjcwMl8QJEU1QTQyNDczLUJCNTctNDU4
				Mi05OEEyLUVDQ0U3MTBEODQwRF8QJDM0M0VEQzg2LTBE
				ODgtNDRFQi04NzEzLTJEQUZEN0Q4OTk5MV8QJDM0RDBC
				RjdGLURCQ0QtNDQwQS04NjUyLTFGOEU5RkUyRDI0Ml8Q
				JDFBMkFFNkVELTQ4QkQtNEU2OS1CRkJGLUYyRDVBNjc1
				RERBRF8QJDA2NjAxODMwLTUxMjUtNDE4OS1CNDE1LUU0
				MEFCMjhFMDczNV8QJEFBMEI5MDUyLUM4NzEtNDlCMi1B
				OENBLUQ4QjY4QzgwN0FFN18QJDg0RDhFMEE3LTU4Q0Yt
				NDkzMS04OEUzLUE5RjU3OUQwNDBCNV8QJDFGRURCMTY0
				LTg2MTEtNEQzRS04NjhBLTYwQ0YwNEMxNzMxM18QJDhB
				NjU2QUNELTYyMjctNDc3NS05RjZFLTcyNjJGNkY4QjY3
				RF8QJDRGQUZFNkY4LUM5RTQtNDBGRi05MThFLUQzNDBF
				QTMwRTgwQV8QJDM1MUFGQUE1LTI0RUItNEVDNi1CREVD
				LURFRUZBRTlGMTM5N18QJDlERDEzNDI5LUVDMDctNDA5
				Ni1COUZELTg4QUU4MUUzQjMxN18QJEU3OTk2OEU5LTM2
				OEYtNDREOS1CNTc4LURDN0JCQTBEQjk2Ml8QJDQxRjMw
				QjM4LTE5REItNDQ3MC1CMENELTg1NzI4NERDODE5Ql8Q
				JEIyREQwMDA0LTQ4MjMtNDhDNy05NEFCLUEzNDM0MzBB
				QjRCMF8QJEZGOEExMDg3LTQyQzctNDhBOS1CMDBGLTc3
				NzQ5RDJDQjNBOF8QJDFGRURCMTY0LTg2MTEtNEQzRS04
				NjhBLTYwQ0YwNEMxNzMxM9IAFAAVATMBNF8QE05TTXV0
				YWJsZURpY3Rpb25hcnmjATMBNQAZXE5TRGljdGlvbmFy
				edIAFAAVATcBOF8QE1lIU2l0ZUltYWdlUmVzb2x2ZXKi
				ATkAGV8QE1lIU2l0ZUltYWdlUmVzb2x2ZXIACAAZACIA
				LAAxADoAPwBRAFoAYwBsAG4AcAGLAZEBmgGlAawBrQGv
				AbgBwwHMAdkB4AHmAe8B+AICAgQCBgITAhsCqAKqAqwC
				rgKwArICtAK2ArgCugK8Ar4CwALCAsQCxgLIAsoCzALO
				AtAC0gLUAtYC2ALaAtwC3gLgAuIC5ALmAugC6gLsAu4C
				8ALyAvQC9gL4AvoC/AL+AwADAgMEAwYDCAMKAwwDDgMQ
				AxIDFAMWAxgDGgMcAx4DIAMiAyQDJgMoAyoDLAMuAzAD
				MgO/A8EDwwPFA8cDyQPLA80DzwPRA9MD1QPXA9kD2wPd
				A98D4QPjA+UD5wPpA+sD7QPvA/ED8wP1A/cD+QP7A/0D
				/wQBBAMEBQQHBAkECwQNBA8EEQQTBBUEFwQZBBsEHQQf
				BCEEIwQlBCcEKQQrBC0ELwQxBDMENQQ3BDkEOwQ9BD8E
				QQRDBEUERwRJBEsEcgSZBMAE5wUOBTUFXAWDBaoF0QX4
				Bh8GRgZtBpQGuwbiBwkHMAdXB34HpQfMB/MIGghBCGgI
				jwi2CN0JBAkrCVIJeQmgCccJ7goVCjwKYwqKCrEK2Ar/
				CyYLTQt0C5sLwgvpDBAMNwxeDIUMrAzTDPoNIQ1IDW8N
				lg29DeQOCw4yDlkOgA6nDs4O9Q8cD0MPag+RD7gP3xAG
				EC0QVBB7EKIQyRDwERcRPhFlEYwRsxHaEgESKBJPEnYS
				nRLEEusTEhM5E2AThxOuE9UT/BQjFEoUcRSYFL8U5hUN
				FTQVWxWCFakV0BX3Fh4WRRZsFpMWuhbhFwgXLxdWF30X
				pBfLF/IYGRhAGGcYjhiXGK0YtBjBGMoY4BjlAAAAAAAA
				AgIAAAAAAAABOgAAAAAAAAAAAAAAAAAAGPs=
				</data>
				<key>version</key>
				<string>4.2.4</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>com.yourhead.stacksDocument</string>
</dict>
</plist>
