<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ChangedStatuses</key>
				<dict>
					<key>default</key>
					<true/>
					<key>file:///Volumes/Users/william/Sites/AdaForge/</key>
					<true/>
					<key>file:///Volumes/william.io/Home.io/Developer/Web%20Sites/Adaforge/export/</key>
					<true/>
					<key>sftp:/sftp.sd5.gpaas.net/vhosts/test.adaforge.org/htdocs</key>
					<true/>
					<key>sftp:/sftp.sd5.gpaas.net/vhosts/www.adaforge.org/htdocs</key>
					<false/>
				</dict>
				<key>ColourStyles</key>
				<dict>
					<key>Endeavor</key>
					<dict>
						<key>%colour_bt%</key>
						<string>#8000FE</string>
						<key>%colour_c_links%</key>
						<string>#0000FF</string>
						<key>%colour_c_links_h%</key>
						<string>#0080FF</string>
						<key>%colour_nav_text%</key>
						<string>#FB02FE</string>
						<key>%colour_title%</key>
						<string>#FB02FE</string>
					</dict>
					<key>Endeavor2</key>
					<dict>
						<key>%colour_bt%</key>
						<string>#21FE06</string>
						<key>%colour_c_links%</key>
						<string>#FB02FE</string>
						<key>%colour_nav_text%</key>
						<string>#FB02FE</string>
						<key>%colour_side_text%</key>
						<string>#0000FE</string>
						<key>%colour_sidebar%</key>
						<string>#FB0106</string>
						<key>%colour_title%</key>
						<string>#21FE06</string>
					</dict>
					<key>Freelancer Pro</key>
					<dict/>
					<key>Reason</key>
					<dict/>
					<key>Split</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCSS</key>
				<string>#feature {background-image: url("%resource(/Banner/SourceCode-Ada-Earth-and-Moon.jpg)%")}

 
code {
	display: inline;
}</string>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomHeader</key>
				<string>&lt;script type="text/javascript" src="%resource(SyntaxHighlighter/scripts/xregexp.js)%"&gt;&lt;/script&gt;

&lt;script type="text/javascript" src="%resource(SyntaxHighlighter/scripts/shCore.js)%"&gt;&lt;/script&gt;

&lt;script type="text/javascript" src="%resource(SyntaxHighlighter/scripts/shBrushAda.js)%"&gt;&lt;/script&gt;

&lt;link type="text/css" rel="stylesheet" href="%resource(SyntaxHighlighter/styles/shCore.css)%"/&gt;


&lt;link type="text/css" rel="stylesheet" href="%resource(SyntaxHighlighter/styles/shCoreLadyAda.css)%"/&gt;

</string>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>SyntaxColoring</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>Hidden</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>MetaDescription</key>
				<string>Ada Open Source Code and Tools - Software for a complex world - Syntax Coloring  for Ada source code</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>PluginExtension</key>
				<string>html</string>
				<key>PluginHasPerformedMigrationToSharedData</key>
				<true/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>ShouldEnableRobotTags</key>
				<true/>
				<key>ShouldEnableSocialTags</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Business</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
						<string>Width.Default Width (780px)</string>
					</array>
					<key>Endeavor</key>
					<array>
						<string>Banner Text Fonts.Fjalla</string>
						<string>Banner Text Line Length.20%</string>
						<string>Banner Text Size.52px</string>
						<string>Content Fonts.Questrial</string>
						<string>Content Size.16px</string>
						<string>Header Fonts.Questrial</string>
						<string>Navigation Fonts.Fjalla</string>
						<string>Navigation Size.16px</string>
						<string>Sidebar Placement.None</string>
						<string>Sidebar Title Fonts.Questrial</string>
						<string>Slideshow Display.Off</string>
						<string>Slideshow Transition.Slide</string>
						<string>Theme Version #.1.0.4</string>
						<string>Theme Version #.1.0.9</string>
						<string>Theme Version #.1.1.1</string>
						<string>Title Fonts.Fjalla</string>
						<string>Title Size.32px</string>
						<string>Title/Navigation/ Color/Opacity.Dark Opacity 60%</string>
						<string>Toggle.Extra Content #6 On</string>
						<string>Toggle.Extra Content #9 On</string>
					</array>
					<key>Endeavor2</key>
					<array>
						<string>Banner Text Fonts.Dakota</string>
						<string>Banner Text Line Length.20%</string>
						<string>Banner Text Size.46px</string>
						<string>Content Fonts.Questrial</string>
						<string>Content Size.16px</string>
						<string>Header Fonts.Questrial</string>
						<string>Navigation Fonts.Fjalla</string>
						<string>Navigation Size.16px</string>
						<string>Sidebar Placement.None</string>
						<string>Sidebar Title Fonts.Questrial</string>
						<string>Slideshow Display.Off</string>
						<string>Slideshow Transition.Slide</string>
						<string>Theme Version #.2.1.1</string>
						<string>Title Fonts.Fjalla</string>
						<string>Title Size.32px</string>
						<string>Title/Navigation/ Color/Opacity.Light 60%</string>
						<string>Toggle.Enable Responsive Content Images</string>
						<string>Toggle.Extra Content #5 On</string>
						<string>Toggle.Extra Content #6 On</string>
						<string>Toggle.Extra Content #9 On</string>
					</array>
				</dict>
				<key>Variables</key>
				<dict/>
				<key>openGraphDescription</key>
				<string>Ada 2022 — The Reliable Language for a Complex World. When your software really has to work, choose Ada ! or be lost with C, C++, Go, Rust, …</string>
				<key>openGraphImageResourceIdentifier</key>
				<string>F33900C8-7875-4687-BD56-82E787222D20</string>
				<key>openGraphTitle</key>
				<string>Ada Forge Software resources</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
